.home__body {
    flex: 1;
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.search__input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 25px;
    padding: 10px 15px;
    border-radius: 999px;
    width: 79vw;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 520px;
}

.search__input__inline {
    display: flex;
    align-items: left;
    border: 1px solid lightgray;
    height: 25px;
    padding: 10px 15px;
    border-radius: 999px;
    width: 79vw;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 200px;
}

.search__input:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.search__buttons button {
    margin: 5px;
}

.search__buttons__inline button {
    margin: 5px;
    display: inline
}